*{
    margin: 0;
    padding: 0;
}

.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Imagen{
    margin: 15px;
}

.imgDenegado{
    width: 550px;
}

.Descripcion{
    margin: 15px;
    
}

h1{
    font-size: 50px;
    font-weight: bold;
    color: red;
}

h2{
    font-weight: bold;
}
