<h1 mat-dialog-title>Confirmación</h1>
<div mat-dialog-content>
    <p>Desea realizar la accion?</p>
</div>
<div mat-dialog-actions>
    <button mat-button type="button" class="btn btn-danger btn-fill btn-sm" (click)="cerrarDialogo()">
        <!-- <i class="pe-7s-close"></i> -->
        <i class="fas fa-times"></i>
    </button>
    <button mat-button type="button" class="btn btn-primary btn-fill btn-sm" (click)="confirmado()">
        <!-- <i class="pe-7s-check"></i> -->
        <i class="fas fa-check"></i>
    </button>
</div>