<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2 class="title">Tabla de usuarios</h2>
                        <p class="category">Todos los usuarios</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Direccion</th>
                                    <th>Fecha de ingreso</th>
                                    <th colspan="2">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of allUsers">
                                    <td>{{ element.TxtNombres }}</td>
                                    <td>{{ element.TxtEmail }}</td>
                                    <td>{{ element.TxtDireccion }}</td>
                                    <td>{{ element.FechaIngreso | date:'dd-MM-yyyy' }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-fill btn-sm" (click)="modificarUsuario(element.IdUsuario)" >Modificar</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-fill btn-sm" (click)="eliminarUsuario(element)" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-offset-5">
                        <button class="btn btn-primary btn-fill btn-lg" (click)="AgregarUsuario()">Agregar nuevo usuario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>