<ngx-spinner 
    bdColor = "rgba(0,0,0,0.64)" 
    size = "default" 
    color = "#f01212" 
    type = "ball-pulse" 
    [fullScreen] = "true">
</ngx-spinner>

<button class="btn btn-success btn-fill btn-lg center-block" (click)="imprimirExel()">
    <i class="fas fa-print"></i>
    Imprimir Exel
</button>

<button class="btn btn-success btn-fill btn-lg center-block" (click)="imprimirPDF()">
    <i class="fas fa-print"></i>
    Imprimir PDF
</button>

<!-- <div #pdfTable>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Luis</td>
                <td>Pablo</td>
                <td>22</td>
            </tr>
        </tbody>
    </table>
</div> -->

<div class="main-content" #pdfTable>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="tabla">
                    <!-- <div class="header">
                        <h2 class="title">Tabla de usuarios</h2>
                        <p class="category">Todos los usuarios</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Direccion</th>
                                    <th>Fecha de ingreso</th>
                                    <th colspan="2">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of allUsers">
                                    <td>{{ element.TxtNombres }}</td>
                                    <td>{{ element.TxtEmail }}</td>
                                    <td>{{ element.TxtDireccion }}</td>
                                    <td>{{ element.FechaIngreso | date:'dd-MM-yyyy' }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-fill btn-sm" (click)="modificarUsuario(element.IdUsuario)" >Modificar</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-fill btn-sm" (click)="eliminarUsuario(element)" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-offset-5">
                        <button class="btn btn-primary btn-fill btn-lg" (click)="AgregarUsuario()">Agregar nuevo usuario</button>
                    </div> -->

                    <mat-form-field>
                        <mat-label>Filtrar</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input>
                    </mat-form-field>
                      
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>
                      
                            <ng-container matColumnDef="TxtNombres" sticky>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let row"> {{row.TxtNombres}} </td>
                            </ng-container>
                      
                            <ng-container matColumnDef="TxtDireccion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
                                <td mat-cell *matCellDef="let row"> {{row.TxtDireccion}} </td>
                            </ng-container>
                      
                            <ng-container matColumnDef="TxtEmail">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                                <td mat-cell *matCellDef="let row"> {{row.TxtEmail}} </td>
                            </ng-container>
                      
                            <ng-container matColumnDef="FechaIngreso">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                                <td mat-cell *matCellDef="let row"> {{row.FechaIngreso | date:'dd-MM-yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="opciones">
                                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                                <td mat-cell *matCellDef="let row">
                                    <!-- <button type="button" class="btn btn-primary btn-fill btn-sm" (click)="modificarUsuario(row.IdUsuario)">
                                        <i class="fas fa-user-edit"></i>
                                    </button> -->

                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="modificarUsuario(row.IdUsuario)">
                                            <i class="fas fa-user-edit"></i>
                                            <span> Modificar</span>
                                        </button>
                                        <button mat-menu-item (click)="eliminarUsuario(row)">
                                            <i class="fas fa-user-times"></i>
                                            <span> Eliminar</span>
                                        </button>
                                      </mat-menu>

                                </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="opciones2">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td  mat-cell *matCellDef="let row">
                                    <button type="button" class="btn btn-danger btn-fill btn-sm" (click)="eliminarUsuario(row)">
                                        <i class="fas fa-user-times"></i>
                                    </button>
                                </td>
                            </ng-container> -->
                      
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="5">No se encontraron datos con los parametros "{{input.value}}"</td>
                            </tr>
                        </table>
                      
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
                    </div>
                    
                </div>
                <div>
                    <button class="btn btn-primary btn-fill btn-lg center-block" (click)="AgregarUsuario()">
                        <!-- <i class="pe-7s-add-user"></i> -->
                        <i class="fas fa-user-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>