<div class="body">
    <div class="imagen">
        <img src="/assets/img/Error404.jpg" alt="Imagen Error 404" class="imgError"/>
    </div>
    <div class="descripcion">
        <h1>¡UPS... ERROR 404!</h1>
        <h2>Lo sentimos, pero la página que buscas no existe.</h2><br>
        <section class="redireccion">
            <p>Por favor verifica la dirección introducida e inténtelo de nuevo o </p>
            <button routerLink="/usuarios" class="btnMenu">IR A LA PÁGINA DE INICIO</button><br><br><br>
        </section>
        <h2>Posibles motivos por los que la página solicitada no se encuentra disponible:</h2>
        <p>- Puede que haya cambiado de dirección (URL).</p>
        <p>- Es posible que esta no exista o no se haya escrito correctamente su URL, compruébela de nuevo para verificar si es correcta.</p>
    </div>
</div>