<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="">
                    <div class="header">
                        <h2 class="title">Nosotros</h2>
                        <p class="category">Nombres de creadores con sus carnés</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Carné</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Luis Pablo</td>
                                    <td>Sosa Morales</td>
                                    <td>1690-17-3273</td>
                                </tr>
                                <tr>
                                    <td>Daniel Alexander</td>
                                    <td>Juárez Reyes</td>
                                    <td>4690-17-9961</td>
                                </tr>
                                <tr>
                                    <td>Gyssell Azucena</td>
                                    <td>Equité Sierra</td>
                                    <td>1690-17-3264</td>
                                </tr>
                                <tr>
                                    <td>Miguel Ángel</td>
                                    <td>Góngora García</td>
                                    <td>1690-15-18129</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>