<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="header">
                        <h4 class="title">Modificar Usuario</h4>
                    </div>
                    <div class="content">
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Institucion</label>
                                        <input type="text" class="form-control" disabled placeholder="Institucion" value="UMG">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Correo electronico</label>
                                        <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="UsuarioAModificar.TxtEmail">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombres</label>
                                        <input type="text" class="form-control" placeholder="Nombres" [(ngModel)]="UsuarioAModificar.TxtNombres">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="UsuarioAModificar.TxtApellidos">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Direccion</label>
                                        <input type="text" class="form-control" placeholder="Direccion" [(ngModel)]="UsuarioAModificar.TxtDireccion">
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="mostrar">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input type="text" class="form-control" placeholder="contraseña" [(ngModel)]="UsuarioAModificar.TxtPassword">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Verificar</label>
                                        <input type="text" class="form-control" placeholder="contraseña" [(ngModel)]="comprobarContrasenia">
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="!mostrar">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input type="password" class="form-control" placeholder="contraseña" [(ngModel)]="UsuarioAModificar.TxtPassword">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Verificar</label>
                                        <input type="password" class="form-control" placeholder="contraseña" [(ngModel)]="comprobarContrasenia">
                                    </div>
                                </div>
                            </div>

                            <mat-checkbox class="example-margin" [(ngModel)]="mostrar">Mostrar contraseña</mat-checkbox>
                            <button class="btn btn-info btn-fill pull-right" (click)="ActualizarUsuario()">
                                <!-- <i class="pe-7s-upload"></i> -->
                                <i class="fas fa-upload"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>